/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    color: #6e7585;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    text-decoration-style: none;
    color: #6e7585;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(to left bottom, rgb(118, 196, 226,0.5), rgb(129, 118, 181,0.5));
    border-color: #6e7585;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background:linear-gradient(to left bottom, rgb(118, 196, 226), rgb(129, 118, 181));
    border-color: #6e7585;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    text-align:center;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    text-align:center;
    background: linear-gradient(to left bottom, rgb(118, 196, 226), rgb(129, 118, 181));
    position: relative;
    min-height: 100%;
}

body {
    border-radius: 0 0 20px 20px;
    text-align: center;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;/***/
  line-height: 60px; /* Vertically center the text there */
}
table {
    font-weight:100;
    text-align:center;
    background: linear-gradient(to left bottom, rgb(118, 196, 226,0.2), rgb(129, 118, 181,0.2));
    border-radius:0 0 20px 20px;
}

input {
    margin:10px;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(to left bottom, rgb(118, 196, 226,0.2), rgb(129, 118, 181,0.2));
}

h2 {
font-weight:100;
}



.form-control {
    background: linear-gradient(to left bottom, rgb(118, 196, 226,0.2), rgb(129, 118, 181,0.2));

}

 .form-control::after{
    background-color:firebrick;
    }
  select#avtor {
      background-color:red;
  }